/* large screen main navigation bar */

.fg-web-main-nav {
    width: 100%;
    margin: 0 -50px 0 0;
    border: 0; /* override bootstrap default */
    border-radius: 0; /* override bootstrap default */
    background-color: transparent; /* override bootstrap default */
    min-height: 40px; /* override bootstrap default */
}
.fg-web-main-nav::before {
    background-color: rgba(0,0,0,0.2);  /* theme config */
	content: "";
	bottom: auto;
	height: 45px;
	width: 100%;
	position: absolute;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
    -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-ms-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
}

/* large screen main navigation level 1 */

.fg-web-main-nav .navbar-nav {
  float: right;
  z-index: 2;
  position: relative;
  margin: 0 20px;
}
@media only screen and (min-width: 992px) {
  .fg-web-main-nav .navbar-nav {
    /*display: flex;
    height: 100%;
    flex-wrap: wrap;*/
  }
}
.fg-web-main-nav .navbar-nav li {
  line-height: normal;
}
@media only screen and (min-width: 992px) {
  .fg-web-main-nav .navbar-nav li .caret {
    position: absolute;
    right: 10px;
    top: 20px;
    border-top-color: white;
  }
}
.fg-web-main-nav .navbar-nav > li {
}
.fg-web-main-nav .navbar-nav > li a {
	color: rgba(256,256,256,1) !important; /* theme config */
	letter-spacing: 0.5pt; /* theme config? */
	background-color: transparent !important; /* bootstrap override */
}

.fg-web-main-nav .navbar-nav > li > a {
    border: 1px solid transparent;
    padding: 3px 10px;
    margin: 8px 2px;
}
@media only screen and (min-width: 992px) {
  .fg-web-main-nav.navbar-default .navbar-nav > li.active > a,
  .fg-web-main-nav.navbar-default .navbar-nav > li > a:hover {
    border: 1px solid rgba(256,256,256,0.2); /* theme config */
    padding: 3px 10px;
    margin: 8px 2px;
    background-color: rgba(256,256,256,0.1); /* theme config */
    border-radius: 13px;
  }
  .fg-web-main-nav.navbar-default .navbar-nav > li.dropdown > a {
    padding-right: 20px;
  }
}


/* more toggle */

.dropdown-toggle i {
	
}

/* large screen main navigation level 2 and 3 */

@media only screen and (min-width: 992px) {
.fg-web-main-nav .dropdown-menu {
  -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
  -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
  -webkit-border-radius:  0 0 6px 6px;
  -moz-border-radius:  0 0 6px 6px;
  -ms-border-radius:  0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  border: none;
  width: 230px;
  margin: 0;
  padding: 0;
  display: block;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
}
.fg-web-main-nav .dropdown:hover .dropdown-menu {
    padding: 8px 0;	
}
.fg-web-main-nav .dropdown-menu li {
  font-size: 13px;
  padding: 0;
  position: relative;
  
  overflow:hidden;
      max-height:0;
      -webkit-transition: max-height 200ms ease;
      transition: max-height 200ms ease;
}
.fg-web-main-nav .dropdown:hover .dropdown-menu li {
	max-height:150px;
	overflow: visible;
}
.fg-web-main-nav li.dropdown-submenu > a::after {
	content: "\f0da";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	margin-left: 8px;
	opacity: 0.6;
	right: 8px;
	position: absolute;
}
.fg-web-main-nav .navbar-nav .dropdown-menu a {
  padding: 7px 13px;
  white-space: normal;
  display: block;
}
.fg-web-main-nav .navbar-nav .dropdown-menu ul {
  margin-top: -3px;
}
.fg-web-main-nav .fg-web-open-right,
.fg-web-main-nav .fg-web-open-left {
    position: absolute;
    top: -5px;
    bottom: auto;
    overflow: hidden;
    width: 0;
    min-width: 0; /* bootstrap override */
    -webkit-transition: width 200ms ease;
    transition: width 200ms ease;	
}
.fg-web-main-nav .fg-web-open-right a,
.fg-web-main-nav .fg-web-open-left a {
	width: 230px;
}
.fg-web-main-nav .fg-web-open-right {
  right: auto;
  left: 100%;
  border-top-right-radius: 6px;
}
.fg-web-main-nav .fg-web-open-left {
  right: 100%;
  left: auto;
  border-top-left-radius: 6px;
}
.fg-web-main-nav .dropdown-menu li:hover .fg-web-open-right,
.fg-web-main-nav .dropdown-menu li:hover .fg-web-open-right {
	width: 230px;
}
.fg-web-main-nav .navbar-nav > .dropdown > .fg-web-open-left {
  top: 100%;
  right: 0;
}
.fg-web-main-nav .dropdown:hover > .dropdown-menu, 
.fg-web-main-nav .dropdown-submenu:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}
}

/* Mobile navigations bar/icons */

@media only screen and (max-width: 991px) {
    .fg-web-main-nav {
      width: 250px;
      display: block;
      margin: 0;
      /* height: 0; */
      min-height: 0;
      max-height: 70vh;
      overflow: hidden;
      position: fixed;
      top: 40px;
      right: -250px;
      bottom: auto;
      z-index: 999;
    }
	.fg-navbar-open .fg-web-main-nav {
		right: 0;
	    -webkit-transition: right 200ms ease;
	    transition: right 200ms ease;
	}
}
.fg-web-nav-icon {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -20px;
  padding: 0 40px 0 0;
}
.fg-web-nav-icon::before {
    background: #ccc;
	content: "";
	bottom: auto;
	height: 40px;
	width: 100%;
	position: absolute;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
    -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.16);;
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-ms-transform: skew(15deg);
	-o-transform: skew(15deg);
	transform: skew(15deg);
	margin: 0;
	padding: 0;
}

.fg-web-nav-icon .fa {
  font-size: 19px;
  position: relative;
  top: 10px;
  right: 10px;
  margin: 0 0 0 30px;
}
.fg-web-top-nav-icon {
  display: none !important; /* bootstrap override */
}
.fg-web-top-nav-icon .fa {
}

/* mobile navigation level 1 */

@media only screen and (max-width: 991px) {
  .fg-web-main-nav .navbar-nav {
    float: none;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.16);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.16);
  }
  .fg-web-main-nav .navbar-nav li {
    padding: 0;
    border-bottom: 1px solid;
    font-size: 13px !important;
    line-height: normal;
    float: none;
  }
}

/* mobile navigation level 2 and 3, BITTE AUFRÄUMEN */

@media only screen and (max-width: 991px) {
  .fg-web-main-nav .navbar-nav li.dropdown-submenu > .dropdown-menu {
    display: none;
  }
  .fg-web-main-nav .navbar-nav li.dropdown-submenu.open {
    border: 0;
  }
  .fg-web-main-nav .navbar-nav li.dropdown-submenu.open > .dropdown-menu {
    display: block;
    border-top: 1px solid;
    float: none;
    clear: both;
  }
  .fg-web-main-nav .navbar-nav li li a {
    padding: 9px 10px;
    padding-left: 40px !important;
  }
  .fg-web-main-nav .navbar-nav li li li a {
    padding-left: 60px !important;
  }
  .fg-web-main-nav .navbar-nav li.open {
    border: 0;
  }
  .fg-web-main-nav .navbar-nav li.open > .dropdown-menu {
    border-top: 1px solid;
  }
  .fg-web-main-nav .navbar-nav > li {
    font-weight: normal;
    padding: 0;
  }
  .fg-web-main-nav .navbar-nav .dropdown-menu {
    position: static !important;
    width: auto;
    clear: both;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .fg-web-main-nav .navbar-nav .dropdown-menu .dropdown-menu {
    position: static !important;
    margin-top: 0;
  }
  .fg-web-main-nav .navbar-nav .dropdown-menu .dropdown-menu .dropdown-menu {
    position: static !important;
  }
  .fg-web-main-nav .navbar-nav .dropdown > .dropdown-menu {
    display: none;
  }
  .fg-web-main-nav .navbar-nav .dropdown > .caret:before {
    content: "\f104";
  }
  .fg-web-main-nav .navbar-nav .dropdown.open {
    border: 0;
  }
  .fg-web-main-nav .navbar-nav .dropdown.open > .dropdown-menu {
    display: block;
    clear: both;
    float: none;
  }
  .fg-web-main-nav .navbar-nav .dropdown.open > .caret:before {
    content: "\f107";
  }
  .fg-web-main-nav .navbar-nav .fg-dropdown-toggle, 
  .fg-web-main-nav .navbar-nav .caret {
    font-family: FontAwesome;
    border: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding-right: 20px;
    text-align: right;
    z-index: 6;
    line-height: 40px;
    position: absolute;
    top: 1px;
    right: 0;
    bottom: auto;
    left: auto;
  }
  .fg-web-main-nav .navbar-nav .dropdown-submenu > .fg-dropdown-toggle:before {
    content: "\f104";
  }
  .fg-web-main-nav .navbar-nav .dropdown-submenu.open > .fg-dropdown-toggle:before {
    content: "\f107";
  }
}

